<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li id="menu_dashboard"><a style="padding: 15px" href="/dashboard">Dashboard</a></li>
            <li id="menu_hosts"><a style="padding: 15px" href="/hosts">Hosts</a></li>
            <li id="menu_contacts"><a style="padding: 15px" href="/contacts">Contacts</a></li>
            <li id="menu_settings"><a style="padding: 15px" href="/settings">Settings</a></li>
        </ul>
    </div>
</nav>

<script language="javascript">
    $(document).ready(function(){
        $("#menu_{{ active_menu_item }}").addClass("active").addClass("");
    });
</script>