html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.global-wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .global-wrapper {
    height: 100%;
}

.global-buffer {
    height: 50px;
}