/* Global layout */
html, body {
    height: 100%;
    margin:  0;
    padding: 0;
}

.global-wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .global-wrapper {
    height: 100%;
}

.global-buffer {
    height: 50px;
}

/* Header */
#page-header {
    padding: 1px;
    background-color: silver;
}

#logo {
    text-decoration: none;
    color: #000000;
    display: block;

}
#login-link {

}