<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li id="menu_dashboard"><a href="/">Dashboard</a></li>
            <li id="menu_hosts"><a href="/hosts">Hosts</a></li>
            <li id="menu_contacts"><a href="/contacts">Contacts</a></li>
            <li id="menu_settings"><a href="/settings">Settings</a></li>
        </ul>
    </div>
</div>

<script language="javascript">
    $(document).ready(function(){
        $("#menu_{{ active_menu_item }}").addClass("active");
    });
</script>