/* ============== Global layout ============== */
html, body {
    height: 100%;
    margin:  0;
    padding: 0;
    /*font: 16px Verdana, Arial, Helvetica, sans-serif;*/
    background-image: url("/static/img/bg.png");
}

.global-wrapper {
    min-height: 100%;
    margin-bottom: -22px;
}

* html .global-wrapper {
    height: 100%;
}

.global-buffer {
    height: 22px;
}
#page-content {
    padding: 15px;
}

/* ================== Globals =================== */
.alert {
    margin-bottom: 0;
}

.form-control {
    margin-bottom: 10px;
}


/* ================== Footer ==================== */
#global-footer {
    background-color: #407bac;
    color: white;
    padding-left: 5px;
    padding-top: 2px;
}

/* =================== Header ==================== */
.hh-page-header {
    padding-left: 5px;
    background-color: #407bac;
    color: white;
    display: block;
    border-bottom-left-radius: 15px;
}

#hh-logo {
    text-decoration: none;
    display: inline-block;
}

.hh-page-header a {
    color: white;
    text-decoration: underline;
}